<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
 
<suite name="Default suite">
  <test name="Default test" preserve-order="true">
   <classes>   
      	<class name="com.lianpay.interfaces.test.OpenUnitUserTest"/>
      	<class name="com.lianpay.interfaces.test.UploadUnitPhotoTest"/>
      	<class name="com.lianpay.interfaces.test.ModifyUnitUserTest"/>
      	<class name="com.lianpay.interfaces.test.OpenSmsUnitUserTest"/>
      	<class name="com.lianpay.interfaces.test.SmsSendTest"/>
      	<class name="com.lianpay.interfaces.test.SmsCheckTest"/>
      	<class name="com.lianpay.interfaces.test.OpenSmsUnitUserTest"/>
   		<class name="com.lianpay.interfaces.test.SimpleOpenUserTest"/>
   		<class name="com.lianpay.interfaces.test.PwdAuthTest"/>   		
   		<class name="com.lianpay.interfaces.test.BankGatewayTest"/>   		
   		<class name="com.lianpay.interfaces.test.UnitCashOutTest"/>   		
   		<class name="com.lianpay.interfaces.test.BalancePwdPayTest"/>
   		<class name="com.lianpay.interfaces.test.BalancePayVerifyTest"/>
   		<class name="com.lianpay.interfaces.test.UserTransAcctTest"/>   		
   		<class name="com.lianpay.interfaces.test.SingleUserQueryTest"/>   		   		
   		<class name="com.lianpay.interfaces.test.UserPaymentTest"/>
   		<class name="com.lianpay.interfaces.test.OrderQueryTest"/>		   		   		   		
   </classes> 
 </test>
</suite>